<section class="section-about">
  <div class="about-block-list">
    <ul class="about-list">
      <li class="about-list-item">
        <h3 class="about-list-title">01</h3>
        <p class="about-list-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="about-list-item">
        <h3 class="about-list-title">02</h3>
        <p class="about-list-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="about-list-item">
        <h3 class="about-list-title">03</h3>
        <p class="about-list-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="about-list-item">
        <h3 class="about-list-title">04</h3>
        <p class="about-list-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ul>
  </div>
  <div class="about-img-wrapper">
    <img
      src="/img/about/about-desk.jpg"
      alt="Yacht salon"
      width="432"
      height="424"
    />
  </div>
</section>
