.hero-title{
    font-family: 'Inter Medium', sans-serif;
    font-weight: 500;
    max-width: 1001px;
font-size: 80px;
line-height: 1;
letter-spacing: -0.02em;
text-align: center;
color: #fbfbfb;
}

.hero-description{
    font-family: 'Inter Light', sans-serif;
    max-width: 597px;
    font-weight: 300;
font-size: 16px;

line-height: 1.4;
text-align: center;
color: #b4b7ba;
}

.btn-hero{
    font-family: 'Inter Medium', sans-serif;
    font-weight: 500;
     font-size: 18px;
     line-height: 1.1;
     letter-spacing: -0.02em;
    width: 179px;
    height: 52px;
    color: #fbfbfb;
    border: 1px solid #1b414b;
    border-radius: 15px;
    padding: 16px 40px;
    width: 179px;
    height: 52px;
    background: #1b414b;
    white-space: nowrap;
    cursor: pointer;
}

.btn-hero:hover, .btn-hero:focus{
    color: #1b414b;
    border: 1px solid #fbfbfb;
    background: #fbfbfb;
}